node_modules
.env
.eslintignore
.eslintrc.js
.npmignore
.prettierignore
.prettierrc
.solhint.json
.solhintignore
typechain
./test/index_copy.ts_test
./scripts/encrypt.ts
#Hardhat files
cache
artifacts
scripts/encrypt.ts